$C1: #35a1d4;
$C2: #77bfe2;
$C3: #d22d16;
$C4: #e67235;
$C5: #fce786;

.header {
  &-logo-img {
    height: 100%;
    width: 100%;
    max-height: 120px;
  }
  &-menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}
.entete {
  background-color: #ffffff;
  background-image: url('../assets/bg.png');
  background-size: 100%;
  background-repeat: no-repeat;
  /* background by SVGBackgrounds.com */
}
.entreprise {
  &-titre {
    font-family: 'Crimson Text', serif;
    color: $C4;
    text-align: center;
  }
  &-description span {
    color: $C1;
  }
}
.gdtitre_gauche {
  font-family: 'Crimson Text', serif;
  color: $C4;
  font-size: 1.5rem;
  -webkit-box-shadow: 5px 5px 12px 0px #656565;
  -o-box-shadow: 5px 5px 12px 0px #656565;
  box-shadow: 3px 7px 7px 0px #6565658a;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=12);
  border-radius: 10px;
}
.minititre {
  font-family: 'Crimson Text', serif;
  font-style: italic;
  text-transform: capitalize;
  color: $C1;
}
.owl {
  &-titre {
    padding-left: 15px;
    font-family: 'Crimson Text', serif;
    text-transform: capitalize;
    color: $C1;
  }
  &-comment {
    padding-left: 30px;
    font-family: 'Crimson Text', serif;
    font-style: italic;
    color: $C1;
  }
  &-nav {
    position: absolute;
    width: 100%;
    margin-left: -15px;
  }
  &-next {
    float: right;
  }
  &-arrow {
    position: relative;

    color: $C1;
    &-left {
    }
    &-right {
      width: 100%;
    }
  }
}
.etape-caroussel-miniature {
  float: right;
  max-width: 100px;
  padding-left: 5px;
  padding-bottom: 5px;
}
.footer {
  background-color: $C2;
  background-image: url('../assets/bg.png');
  background-size: 100%;
  background-repeat: no-repeat;
}
